; This is a sample configuration file for potashell
; Copy this file to potashell.ini, and modify it to suit your own needs

[WSJTX]
log_directory = "C:\Users\Username\AppData\Local\WSJT-X"

[QRZ]
; QRZ.com XML Data subscribers can put their callsign and password below
; for automatic lookups for any missing gridsquares seen in POTA Logfiles
;
; Providing your API Key allows your log to be uploaded automatically to
; QRZ.com at the end of your session.
;
; Uncomment the lines below and provide your own values to use these features.
;
; callsign = "A12BCD"
; password = "S3cret"
; apikey = "ABCD-1234-ABCD-1234"
