; *****************************************
; * POTA SHELL         Copyright (C) 2024 *
; * Authors:        Martin Francis VA3PHP *
; *                          James Fraser *
; * --------------------------------------*
; * https://github.com/classaxe/potashell *
; *****************************************
; This is a sample configuration file for potashell
; Copy this file to potashell.ini, and modify it to suit your own needs

[WSJTX]
; Set this to the directory where your WSJT-X datafiles are stored
; Run WSJT-X and choose 'Open log directory' from the File menu to see
; your log files folder
;
; PC USERS - your path will look like this:
; log_directory = "C:\Users\Username\AppData\Local\WSJT-X"
;
; MAC USERS = your path will look like this:
; log_directory = "/Users/Username/Library/Application Support/WSJT-X"
;
log_directory = "C:\Users\Username\AppData\Local\WSJT-X"

[QRZ]
; QRZ.com XML Data subscribers can put their callsign and password below
; for automatic lookups for any missing gridsquares seen in POTA Logfiles
;
; Providing your API Key allows your log to be uploaded automatically to
; QRZ.com at the end of your session.
;
callsign = "A12BCD"
password = "S3cret"
apikey = "ABCD-1234-ABCD-1234"
